main {
    height:100%;
    display: flex;
    flex-wrap: wrap;
}

.card-user  .user-img{
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background-color: blue;
    position: relative;
    bottom: 15%;
}